<footer class="footer bg-light mt-5">
    <div class="container py-4">
        <div class="row mt-4">
            <div class="col-12 text-center">
                <p>&copy; <%= new Date().getFullYear() %> Dima D Blog. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
